In [1]:
import pandas as pd
import requests
import json
import time
from datetime import datetime
from pprint import pprint
from config import api_key

In [2]:
url = "https://api.themoviedb.org/3/"

## Most Popular 20 Movies every year between 2010 and 2018

In [3]:
# URL to discover most popular action & adventure movies between 2010 and 2018

popular_100 = []

for year in range(2010,2018):
        for page in range(1,6): 
            # url
            discover_url = url + "discover/movie?api_key="+ api_key \
            + "&language=en-US&region=US&sort_by=popularity.desc&include_adult=false&include_video=false&page=" \
            + str(page) + "&primary_release_year=" + str(year)

            popular_100_data = requests.get(discover_url).json()

            for movie in popular_100_data['results']:
                popular_100.append({"id": movie['id'], 
                                    "title": movie['title'], 
                                    "genre_ids": movie["genre_ids"],
                                    "year": year,
                                   "overview": movie['overview']})

In [4]:
popular_100_df = pd.DataFrame.from_dict(popular_100)
popular_100_df.head()

,genre_ids,id,overview,title,year
0,"[28, 53, 878, 9648, 12]",27205,"Cobb, a skilled thief who commits corporate es...",Inception,2010
1,"[18, 53, 9648]",11324,World War II soldier-turned-U.S. Marshal Teddy...,Shutter Island,2010
2,"[12, 14, 10751]",12444,"Harry, Ron and Hermione walk away from their l...",Harry Potter and the Deathly Hallows: Part 1,2010
3,"[53, 12, 28]",27578,Barney Ross leads a band of highly skilled mer...,The Expendables,2010
4,"[12, 28, 878]",10138,With the world now aware of his dual life as t...,Iron Man 2,2010

In [7]:
popular_100_df.to_csv("Most popular 100 movies.csv")

## Genre of these movies

In [ ]:
genre_url = url + "genre/movie/list?api_key=" + api_key+ "&language=en-US"

genre_list = []
genre_data = requests.get(genre_url).json()
for genre in genre_data["genres"]:
    genre_list.append({"genre_id": genre["id"],
                       "genre_name": genre["name"]})
    
genre_list_df = pd.DataFrame.from_dict(genre_list)
genre_list_df.head()

In [ ]:
genre_list_df.to_csv("Genre list.csv")

In [ ]:
for movie in popular_100_df:

# Casting info in these movies
### 5 most prominent actors

In [ ]:
# For every popular movie in the list, find the cast info for 5 most prominent characters
pop_100_cast = []
for i in range(len(AA_popular_20_pd["id"])):
    credits_url = url + "movie/" + str(popular_100_df["id"][i]) + "/credits?api_key=" + api_key

    casting_data = requests.get(credits_url).json()
    for j in range(len(casting_data["cast"])):
        if j==0:
            pop_100_cast.append({"id": popular_100_df["id"][i], 
                                  "title": popular_100_df["title"][i],
                                  "character": casting_data["cast"][j]["character"],
                                  "actor id": casting_data["cast"][j]["id"],
                                  "actor name": casting_data["cast"][j]["name"],
                                  "gender code": casting_data["cast"][j]["gender"],
                                 "Prominent": True})
        else:
            pop_100_cast.append({"id": popular_100_df["id"][i], 
                                  "title": popular_100_df["title"][i],
                                  "character": casting_data["cast"][j]["character"],
                                  "actor id": casting_data["cast"][j]["id"],
                                  "actor name": casting_data["cast"][j]["name"],
                                  "gender code": casting_data["cast"][j]["gender"],
                                 "movie release year": popular_100_df["year"][i]
                                 "Prominent": False})

In [ ]:
pop_100_cast_df = pd.DataFrame.from_dict(pop_100_cast)
pop_100_cast_df.head()

### Birthday (age) info

#### Function for calculating age

In [ ]:
# Save to csv file
pop_100_cast_df.to_csv("Cast_100_popular_movies.csv")

In [ ]:
def calculate_age(birth_date, release_year):
    dob = datetime.strptime(birth_date, "%Y-%m-%d")
    return release_year - dob.year

* Pulling info on cast

In [ ]:
age = []
for row in pop_100_cast_df:
    person_url = url + "person/" + str(row['actor id']) + "?api_key=" + api_key + "&language=en-US"
    #time.sleep(2)
    person_data = requests.get(person_url).json()
    age.append(calculate_age(person_data["birthday"], row['year']))

In [ ]:
pop_100_cast_df["age"] = age
pop_100_cast_df.head()

In [ ]:
gender_grpd_cast = pop_100_cast_df.groupby("gender code")
average_age_gender = gender_grpd_cast["age"].mean()
average_age_gender

# Movies in Theaters - Now Playing

In [ ]:
# URL for Now Playing movies
now_playing_url = url + "movie/now_playing?api_key=" + api_key + "&language=en-US" + "&page=" + str(page_no)

In [ ]:
in_theatre = requests.get(now_playing_url).json()

In [ ]:
movies_in_theatres = []
for dt in in_theatre['results']:
    movies_in_theatres.append({"id": dt['id'], "title": dt['title']})

In [ ]:
movies_in_theatres_pd = pd.DataFrame.from_dict(movies_in_theatres)
movies_in_theatres_pd.head()

In [ ]:
#for i in range(len(movies_in_theatres_pd["id"])):
credits_url = url + str(movies_in_theatres_pd["id"][0]) + "movie/credits?api_key=" + api_key

In [ ]:
credits = requests.get(credits_url).json()
pprint(credits)