In [1]:
import pandas as pd
import requests
import json
import time
from datetime import datetime
from pprint import pprint
from config import api_key

In [2]:
url = "https://api.themoviedb.org/3/"

In [3]:
popular_100_df = pd.read_csv("Most popular 100 movies.csv")

In [4]:
genre_list_df = pd.read_csv("Genre list.csv")

In [5]:
genre_pop_100_df = pd.read_csv("100 popular with genre.csv")

# Casting info in these movies
### 5 most prominent actors

In [18]:
# For every popular movie in the list, find the cast info for 5 most prominent characters

pop_100_cast = []

for i in range(len(popular_100_df["id"])):
    credits_url = url + "movie/" + str(popular_100_df["id"][i]) + "/credits?api_key=" + api_key

    casting_data = requests.get(credits_url).json()
    
    if casting_data["cast"][0]["gender"] == 1:
        gender = "Female"
    elif casting_data["cast"][0]["gender"] == 2:
        gender = "Male"
    else:
        gender = "Unknown"
    
    pop_100_cast.append({"movie id": popular_100_df["movie id"][i], 
                          "title": popular_100_df["title"][i],
                          "character": casting_data["cast"][0]["character"],
                          "actor id": casting_data["cast"][0]["id"],
                          "actor name": casting_data["cast"][0]["name"],
                          "gender": gender,
                          "movie release year": popular_100_df["year"][i]
                        })

In [20]:
pop_100_cast_df = pd.DataFrame.from_dict(pop_100_cast)
pop_100_cast_df.head()

,actor id,actor name,character,gender,id,movie release year,title
0,417,Ginnifer Goodwin,Judy Hopps (voice),Female,269149,2016,Zootopia
1,10859,Ryan Reynolds,Wade Wilson / Deadpool,Male,293660,2016,Deadpool
2,71580,Benedict Cumberbatch,Stephen Strange / Doctor Strange,Male,284052,2016,Doctor Strange
3,16828,Chris Evans,Steve Rogers / Captain America,Male,271110,2016,Captain America: Civil War
4,880,Ben Affleck,Bruce Wayne / Batman,Male,209112,2016,Batman v Superman: Dawn of Justice

In [45]:
pop_100_cast_df.to_csv("Resources/Cast_100_popular_movies.csv")

## Lead Actors info

We need to know how old they have been when they were cast in their latest movies and where have they come from

---
Function for calculating age

In [28]:
def calculate_age(birth_date, release_year):
    if birth_date is not None:
        dob = datetime.strptime(birth_date, "%Y-%m-%d")
        age = release_year - dob.year
    else:
        age = 0
    return age

* Pulling info on cast

In [38]:
cast_max_age = pop_100_cast_df.drop_duplicates(subset="actor id", keep='last', inplace=False)
cast_max_age = cast_max_age.reset_index()
cast_max_age_df = cast_max_age.drop(columns="index")
cast_max_age_df.head()

,actor id,actor name,character,gender,id,movie release year,title
0,417,Ginnifer Goodwin,Judy Hopps (voice),Female,269149,2016,Zootopia
1,71580,Benedict Cumberbatch,Stephen Strange / Doctor Strange,Male,284052,2016,Doctor Strange
2,16828,Chris Evans,Steve Rogers / Captain America,Male,271110,2016,Captain America: Civil War
3,31167,Elizabeth Mitchell,Senator Charlie Roan,Female,316727,2016,The Purge: Election Year
4,37632,Eddie Redmayne,Newt Scamander,Male,259316,2016,Fantastic Beasts and Where to Find Them

In [48]:
# Calculate the age at which the actor was cast most recently 
age = []
birth_place = []
for i in range(len(cast_max_age_df)):
    person_url = url + "person/" + str(cast_max_age_df['actor id'][i]) + "?api_key=" + api_key + "&language=en-US"
    #time.sleep(2)
    person_data = requests.get(person_url).json()
    age.append(calculate_age(person_data["birthday"], cast_max_age_df['movie release year'][i]))
    birth_place.append(person_data["place_of_birth"])

In [49]:
cast_max_age_df["age"] = age
cast_max_age_df["place of birth"] = birth_place
cast_max_age_df.head()

,actor id,actor name,character,gender,id,movie release year,title,age,place of birth
0,417,Ginnifer Goodwin,Judy Hopps (voice),Female,269149,2016,Zootopia,38,"Memphis, Tennessee, USA"
1,71580,Benedict Cumberbatch,Stephen Strange / Doctor Strange,Male,284052,2016,Doctor Strange,40,"Hammersmith, London, England, UK"
2,16828,Chris Evans,Steve Rogers / Captain America,Male,271110,2016,Captain America: Civil War,35,"Sudbury, Massachusetts, USA"
3,31167,Elizabeth Mitchell,Senator Charlie Roan,Female,316727,2016,The Purge: Election Year,46,"Los Angeles, California, U.S."
4,37632,Eddie Redmayne,Newt Scamander,Male,259316,2016,Fantastic Beasts and Where to Find Them,34,"London, England, UK"

In [51]:
cast_max_age_df.to_csv("Resources/Lead actors info.csv")

In [52]:
cast_max_age_df['place_split'] = cast_max_age_df['place of birth'].str.split(', ')
cast_max_age_df.head()

,actor id,actor name,character,gender,id,movie release year,title,age,place of birth,place_split
0,417,Ginnifer Goodwin,Judy Hopps (voice),Female,269149,2016,Zootopia,38,"Memphis, Tennessee, USA","[Memphis, Tennessee, USA]"
1,71580,Benedict Cumberbatch,Stephen Strange / Doctor Strange,Male,284052,2016,Doctor Strange,40,"Hammersmith, London, England, UK","[Hammersmith, London, England, UK]"
2,16828,Chris Evans,Steve Rogers / Captain America,Male,271110,2016,Captain America: Civil War,35,"Sudbury, Massachusetts, USA","[Sudbury, Massachusetts, USA]"
3,31167,Elizabeth Mitchell,Senator Charlie Roan,Female,316727,2016,The Purge: Election Year,46,"Los Angeles, California, U.S.","[Los Angeles, California, U.S.]"
4,37632,Eddie Redmayne,Newt Scamander,Male,259316,2016,Fantastic Beasts and Where to Find Them,34,"London, England, UK","[London, England, UK]"