In [1]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [2]:
popular_df = pd.read_csv('Resources/Popular movies.csv', index_col=0)
popular_df.head(2)

,movie id,overview,popularity rank,release year,title,budget,revenue,actor id,actor name,character,gender
1,169,Ten years after a band of mercenaries first ba...,2,1990,Predator 2,35000000,57120318,1109.0,Kevin Peter Hall,The Predator,Male
2,162,A small suburban town receives a visit from a ...,3,1990,Edward Scissorhands,20000000,53000000,85.0,Johnny Depp,Edward Scissorhands,Male

In [3]:
popular_df = popular_df.loc[(popular_df["release year"] >= 2017) , :]
popular_male_df = popular_df.loc[popular_df["gender"]=="Male", :]
popular_female_df = popular_df.loc[popular_df["gender"]=="Female", :]

In [6]:
popular_male_df = popular_male_df.sort_values(by="popularity rank",ascending=True).head(10)
male_movies_sentiment=[]
year=[]

for index, row in popular_male_df.iterrows():
    results = analyzer.polarity_scores(row["overview"])
    male_movies_sentiment.append(results["compound"])

male_movies_avg_sentiment = sum(male_movies_sentiment)/len(male_movies_sentiment)
male_movies_avg_sentiment

-0.23986999999999997

In [7]:
male_movies_sentiment

[-0.8519,
 -0.7845,
 0.0772,
 0.2023,
 0.5423,
 -0.9274,
 -0.7096,
 -0.0503,
 0.0516,
 0.0516]

In [8]:
popular_female_df = popular_female_df.sort_values(by="popularity rank",ascending=True).head(10)
female_movies_sentiment=[]
for index, row in popular_female_df.iterrows():
    results = analyzer.polarity_scores(row["overview"])
    female_movies_sentiment.append(results["compound"])
female_movies_avg_sentiment = sum(female_movies_sentiment)/len(female_movies_sentiment)
female_movies_avg_sentiment

-0.24933