In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import matplotlib

matplotlib.style.use('ggplot')

import requests
import json
import time
from datetime import datetime
from pprint import pprint
import gmaps

from config import api_key, gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
file5= "Resources/Lead actors info.csv"
actor_info = pd.read_csv(file5,index_col=0)
actor_info.dropna()
actor_info.head()

,actor id,actor name,character,gender,id,movie release year,title,age,place of birth
0,417,Ginnifer Goodwin,Judy Hopps (voice),Female,269149,2016,Zootopia,38,"Memphis, Tennessee, USA"
1,71580,Benedict Cumberbatch,Stephen Strange / Doctor Strange,Male,284052,2016,Doctor Strange,40,"Hammersmith, London, England, UK"
2,16828,Chris Evans,Steve Rogers / Captain America,Male,271110,2016,Captain America: Civil War,35,"Sudbury, Massachusetts, USA"
3,31167,Elizabeth Mitchell,Senator Charlie Roan,Female,316727,2016,The Purge: Election Year,46,"Los Angeles, California, U.S."
4,37632,Eddie Redmayne,Newt Scamander,Male,259316,2016,Fantastic Beasts and Where to Find Them,34,"London, England, UK"

In [3]:
actor_place_subset = actor_info[["actor name", "place of birth"]]
actor_place_subset.head()

             actor name                    place of birth
0      Ginnifer Goodwin           Memphis, Tennessee, USA
1  Benedict Cumberbatch  Hammersmith, London, England, UK
2           Chris Evans       Sudbury, Massachusetts, USA
3    Elizabeth Mitchell     Los Angeles, California, U.S.
4        Eddie Redmayne               London, England, UK

In [11]:
actor_place_subset['place of birth'][0].split(', ')[-2:]

['Tennessee', 'USA']

In [24]:
location = []

#actor_place_subset['location'] = actor_place_subset['place_split']
for i in range(len(actor_place_subset["actor name"]):
        
        location.append({"actor name": row[1]
#            "State": row['place of birth'].str.split(', ')[-2:],
#            "Country": row['place of birth'].str.split(', ')[:-1]           
        })

In [25]:
actor_location = pd.DataFrame.from_dict(location)
actor_location.head()

                                          actor name
0  actor name                 Ginnifer Goodwin
pl...
1  actor name                      Benedict Cumbe...
2  actor name                          Chris Evan...
3  actor name                     Elizabeth Mitch...
4  actor name               Eddie Redmayne
place ...

In [ ]:
actor_place_subset['place_split'][0][1:]

In [ ]:
l_info=[]
for j in range(len(actor_place_subset["actor name"])):
          
        l_info.append({"actor name": actor_place_subset['actor name'][j], 
                       "location": actor_place_subset['place_split'][j][1:], 
                        })

In [ ]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig