In [1]:
import pandas as pd
import requests
import json
import time
from datetime import datetime
from pprint import pprint
from config import api_key

In [2]:
url = "https://api.themoviedb.org/3/"
page_no=1

## Most Popular 20 Movies every year between 2010 and 2018

In [6]:
# URL to discover most popular action & adventure movies between 2010 and 2018

AA_popular_20 = []

for year in range(2010,2018):
    # url
    discover_url = url + "discover/movie?api_key="+ api_key \
    + "&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=" \
    + str(page_no) + "&year=" + str(year)
    
    popular_20_data = requests.get(discover_url).json()

    for film in popular_20_data['results']:
        AA_popular_20.append({"id": film['id'], 
                              "title": film['title'], 
                              "genre_ids": film["genre_ids"],
                              "year": year})

In [7]:
AA_popular_20_pd = pd.DataFrame.from_dict(AA_popular_20)
AA_popular_20_pd.head()

,genre_ids,id,title,year
0,"[28, 53, 878, 9648, 12]",27205,Inception,2010
1,"[12, 14, 28]",120,The Lord of the Rings: The Fellowship of the Ring,2010
2,"[12, 14, 28]",121,The Lord of the Rings: The Two Towers,2010
3,"[12, 14, 28]",122,The Lord of the Rings: The Return of the King,2010
4,"[12, 14, 10751]",12444,Harry Potter and the Deathly Hallows: Part 1,2010

# Casting info in these movies
### 5 most prominent actors

In [8]:
AA_popular_20_pd.to_csv("Most popular movies 2010-2018.csv")

In [15]:
# For every popular movie in the list, find the cast info for 5 most prominent characters
AA_pop_20_cast = []
for i in range(len(AA_popular_20_pd["id"])):
    credits_url = url + "movie/" + str(AA_popular_20_pd["id"][i]) + "/credits?api_key=" + api_key

    casting_data = requests.get(credits_url).json()
    for j in range(len(casting_data["cast"])):
        if j==0:
            AA_pop_20_cast.append({"id": AA_popular_20_pd["id"][i], 
                                  "title": AA_popular_20_pd["title"][i],
                                  "character": casting_data["cast"][j]["character"],
                                  "actor id": casting_data["cast"][j]["id"],
                                  "actor name": casting_data["cast"][j]["name"],
                                  "gender code": casting_data["cast"][j]["gender"],
                                 "Prominent": True})
        else:
            AA_pop_20_cast.append({"id": AA_popular_20_pd["id"][i], 
                                  "title": AA_popular_20_pd["title"][i],
                                  "character": casting_data["cast"][j]["character"],
                                  "actor id": casting_data["cast"][j]["id"],
                                  "actor name": casting_data["cast"][j]["name"],
                                  "gender code": casting_data["cast"][j]["gender"],
                                 "Prominent": False})

In [16]:
AA_pop_20_cast_pd = pd.DataFrame.from_dict(AA_pop_20_cast)
AA_pop_20_cast_pd.head()

,Prominent,actor id,actor name,character,gender code,id,title
0,True,6193,Leonardo DiCaprio,Dom Cobb,2,27205,Inception
1,False,24045,Joseph Gordon-Levitt,Arthur,2,27205,Inception
2,False,27578,Ellen Page,Ariadne,1,27205,Inception
3,False,2524,Tom Hardy,Eames,2,27205,Inception
4,False,3899,Ken Watanabe,Saito,2,27205,Inception

### Birthday (age) info

#### Function for calculating age

In [17]:
# Save to csv file
AA_pop_20_cast_pd.to_csv("Cast_20_popular_movies.csv")

In [18]:
def calculate_age(birth_date):
    today = datetime.today()
    dob = datetime.strptime(birth_date, "%Y-%m-%d")
    extra_year = 1 if ((today.month, today.day) < (dob.month, dob.day)) else 0
    return today.year - dob.year - extra_year

* Pulling info on cast

In [19]:
age = []
for actor_id in AA_pop_20_cast_pd["actor id"]:
    person_url = url + "person/" + str(actor_id) + "?api_key=" + api_key + "&language=en-US"
    #time.sleep(2)
    person_data = requests.get(person_url).json()
    age.append(calculate_age(person_data["birthday"]))

TypeError: strptime() argument 1 must be str, not None

In [ ]:
AA_pop_20_cast_pd["age"] = age
AA_pop_20_cast_pd.head()

In [ ]:
gender_grpd_cast = AA_pop_20_cast_pd.groupby("gender code")
average_age_gender = gender_grpd_cast["age"].mean()
average_age_gender

# Movies in Theaters - Now Playing

In [ ]:
# URL for Now Playing movies
now_playing_url = url + "movie/now_playing?api_key=" + api_key + "&language=en-US" + "&page=" + str(page_no)

In [ ]:
in_theatre = requests.get(now_playing_url).json()

In [ ]:
movies_in_theatres = []
for dt in in_theatre['results']:
    movies_in_theatres.append({"id": dt['id'], "title": dt['title']})

In [ ]:
movies_in_theatres_pd = pd.DataFrame.from_dict(movies_in_theatres)
movies_in_theatres_pd.head()

In [ ]:
#for i in range(len(movies_in_theatres_pd["id"])):
credits_url = url + str(movies_in_theatres_pd["id"][0]) + "movie/credits?api_key=" + api_key

In [ ]:
credits = requests.get(credits_url).json()
pprint(credits)