In [1]:
import pandas as pd
import requests
import json
import time
from datetime import datetime
from pprint import pprint
from config import api_key

In [2]:
url = "https://api.themoviedb.org/3/"

## Most Popular 100 Movies of each year between 1970 and 2018

In [3]:
# URL to discover most popular action & adventure movies between 2010 and 2018

popular_100 = []


for year in range(1990,2019):
    
    rank_counter = 1 
    
    for page in range(1,6): 
        # url
        discover_url = url + "discover/movie?api_key="+ api_key \
        + "&language=en-US&region=US&sort_by=popularity.desc&include_adult=false&include_video=false&page=" \
        + str(page) + "&primary_release_year=" + str(year)

        popular_100_data = requests.get(discover_url).json()
        


        for movie in popular_100_data['results']:
            popular_100.append({"movie id": movie['id'], 
                                "title": movie['title'], 
                                "genre_ids": movie["genre_ids"],
                                "year": year,
                               "overview": movie['overview'],
                               "popularity rank": rank_counter})
            rank_counter+=1

In [4]:
popular_100_df = pd.DataFrame(popular_100)
popular_100_df.head()

,genre_ids,movie id,overview,popularity rank,title,year
0,"[878, 28, 53]",169,Ten years after a band of mercenaries first ba...,1,Predator 2,1990
1,"[14, 18, 10749]",162,A small suburban town receives a visit from a ...,2,Edward Scissorhands,1990
2,"[28, 53]",1573,John McClane is an off-duty cop gripped with a...,3,Die Hard 2,1990
3,"[10749, 35]",114,When a millionaire wheeler-dealer enters a bus...,4,Pretty Woman,1990
4,"[12, 10751]",71805,A young Norwegian boy in 1850s England goes to...,5,Shipwrecked,1990

In [5]:
popular_100_df.to_csv("Resources/Most popular 100 movies.csv")

## Genre of these movies

In [6]:
genre_url = url + "genre/movie/list?api_key=" + api_key+ "&language=en-US"

genre_list = []
genre_data = requests.get(genre_url).json()
for genre in genre_data["genres"]:
    genre_list.append({"genre_id": genre["id"],
                       "genre_name": genre["name"]})
    
genre_list_df = pd.DataFrame.from_dict(genre_list).set_index("genre_id")

In [7]:
genre_list_df.to_csv("Resources/Genre list.csv")

In [9]:
g_info=[]
for j in range(len(popular_100_df["movie id"])):
    
    for i in range(len(popular_100_df["genre_ids"][j])):
        
        g_info.append({"title": popular_100_df['title'][j], 
                       "movie id": popular_100_df['movie id'][j], 
                       "year":  popular_100_df['year'][j],
                       "overview":  popular_100_df['overview'][j],
                       "genre": genre_list_df.loc[popular_100_df["genre_ids"][j][i], "genre_name"]})

In [10]:
genre_pop_100_df = pd.DataFrame.from_dict(g_info)
genre_pop_100_df.head()

,genre,movie id,overview,title,year
0,Science Fiction,169,Ten years after a band of mercenaries first ba...,Predator 2,1990
1,Action,169,Ten years after a band of mercenaries first ba...,Predator 2,1990
2,Thriller,169,Ten years after a band of mercenaries first ba...,Predator 2,1990
3,Fantasy,162,A small suburban town receives a visit from a ...,Edward Scissorhands,1990
4,Drama,162,A small suburban town receives a visit from a ...,Edward Scissorhands,1990

In [11]:
genre_pop_100_df.to_csv("Resources/100 popular with genre.csv")